html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, left top, right bottom, from(#c7c7c7), to(white));
  background: linear-gradient(to bottom right, #c7c7c7, white);
  font-family: "Poiret One", cursive;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

header {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/06/22/52/blouse-2597205_960_720.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -10px;
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  color: #ff1878;
}

.nav-bar ul {
  background: black;
  color: antiquewhite;
  text-align: left;
  margin: -10px;
  list-style-type: none;
  padding: 10px;
}

.nav-bar a {
  color: antiquewhite;
  text-decoration: none;
  font-family: "Poiret One", cursive;
  font-size: 30px;
}

.nav-bar a:hover {
  color: gray;
}

.nav-bar .search-bar {
  background: black;
  color: white;
  font-size: 20px;
  font-family: "Poiret One", cursive;
  float: none;
  position: relative;
  display: block;
  text-align: left;
  max-width: 180px;
}

.layout article {
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.layout h3 {
  font-family: "Sacramento", cursive;
  font-size: 30px;
}

.layout .myButton {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  display: -ms-inline-grid;
  display: inline-grid;
  cursor: pointer;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 6px 24px;
  text-decoration: none;
}

.layout .myButton:hover {
  background-color: #f6f6f6;
  color: gray;
}

.layout .myButton:active {
  position: relative;
  top: 1px;
}

.layout p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.layout img {
  width: 100%;
  height: auto;
}

.embeded iframe {
  position: relative;
  width: 100%;
}

.embeded embed {
  width: 100%;
  margin: 0 auto;
}

footer {
  background: black;
  color: antiquewhite;
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

footer p {
  margin: 5px;
}

footer a {
  color: antiquewhite;
}

footer a:hover {
  color: gray;
}

@media (min-width: 375px) {
  header {
    font-size: 60px;
  }
  .search-bar {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
  }
  .embeded iframe {
    position: relative;
    width: 355px;
  }
  .embeded embed {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 425px) {
  .nav-bar {
    text-align: center;
  }
  .nav-bar .search-bar {
    text-align: left;
    width: 100%;
  }
  header {
    font-size: 65px;
  }
  article {
    margin: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .embeded {
    text-align: center;
    margin: 0 auto;
  }
  .embeded iframe {
    position: relative;
    width: 400px;
  }
  .embeded embed {
    width: 100%;
  }
  footer {
    font-size: 13px;
    padding: 13px;
  }
}

@media (min-width: 768px) {
  ul {
    text-align: center;
    margin: 500px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  ul .search-bar {
    width: 100%;
    margin: 0;
    float: right;
  }
  a {
    text-align: center;
    margin: 10px;
  }
  header {
    font-size: 100px;
  }
  article {
    margin: 10px;
    padding-left: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .embeded {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 700px;
    height: auto;
  }
  footer {
    font-size: 20px;
    padding: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  p {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 12em;
        grid-template-columns: 12em;
  }
  article {
    margin: 50px;
    padding-left: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .embeded {
    text-align: center;
    margin: 0 auto;
    width: 950px;
    height: auto;
  }
  footer p {
    margin: -10px;
    display: inline-block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  header {
    font-size: 200px;
  }
  article {
    margin: 50px;
    padding: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  h3 {
    font-family: "Sacramento", cursive;
    font-size: 50px;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
  }
  .embeded {
    text-align: center;
    margin: 0 auto;
  }
  footer p {
    font-family: "Poiret One", cursive;
  }
}
/*# sourceMappingURL=clothes.css.map */